

     
        body {
            font-family: Arial, sans-serif;
        }

       
        .top-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f1f1f1;
            padding: 10px;
        }

        .top-bar h1 {
            margin: 0;
        }

        .update-title {
            display: flex;
            align-items: center;
        }

        .update-title input[type="text"] {
            padding: 5px;
            margin-right: 5px;
            border: 1px solid #474444;
        }

        .board {
            display: flex;
            justify-content: space-between;
        }

     
        .column {
            padding: 10px;
            border: 1px solid lightgrey;
    

        }

        .header{
            border-radius: 10px;
    background-color: #69f96f;
    padding: 10px;
        }

       
        .card {
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        

       
        .control-panel {
            margin-top: 20px;
        }

        .cards-section {
            margin-top: 10px;
        }

        .action-button {
            background-color: #4CAF50;
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }

        .input-field {
            padding: 5px;
            margin-right: 5px;
            border: 1px solid #ccc;
        }

        .select-section {
            padding: 5px;
            margin-right: 5px;
        }
        
       
 