

     
        body {
            font-family: Arial, sans-serif;
        }

       
        .top-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #eeeeeb;
            padding: 20px;
        }

        .top-bar h1 {
            margin: 0;
        }

        .update-title {
            display: flex;
            align-items: center;
        }

        .update-title input[type="text"] {
            padding: 5px;
            margin-right: 5px;
            border: 1px solid #474444;
        }

        .board {
            display: flex;
            justify-content: space-between;
        }

     
        .column {
            padding: 10px;
            border: 1px solid rgb(243, 231, 124);
    

        }

        .header{
            border-radius: 10px;
    background-color: #7e5e7e;
    padding: 10px;
        }

       
        .card {
            background-color: #f3dd7d;
            border: 1px solid #7f588b;
            padding: 10px;
            margin-bottom: 10px;
            box-shadow: 0 2px 4px rgba(98, 5, 110, 0.637);
        }
        

       
        .control-panel {
            margin-top: 20px;
        }

        .cards-section {
            margin-top: 10px;
        }

        .action-button {
            background-color: #72726c;
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }

        .input-field {
            padding: 5px;
            margin-right: 5px;
            border: 1px solid #dfb6e7;
        }

        .select-section {
            padding: 5px;
            margin-right: 5px;
        }
        
       
 